dom-module#doorman-masthead
  style.
    .top-padded {
      margin-top: 4em;
    }

  if (config.service.masthead)
    style.
      .masthead {
        background: #fff url('#{config.service.masthead}') no-repeat center center !important;
        background-size: cover !important;
      }
      
      .masthead .ui.inverted.segment {
        background: none;
      }

  template
    .ui.inverted.vertical.masthead.segment
      .ui.container
        maki-navbar.ui.large.secondary.inverted.pointing.menu
      .ui.text.container
        .ui.center.aligned.inverted.segment
          h1.ui.inverted.header !{config.service.pitch}
          h2.ui.inverted.header !{config.service.mission}

          .content.top-padded
            template(is="dom-if", if="{{configured}}")
              maki-waiting-list(src="/invitations", icon="orange mail icon", text="We'll send you an email with a link to sign up.")
            template(is="dom-if", if="{{!configured}}")
              h3.ui.inverted.header Let's get started by connecting Slack.
              a.ui.huge.green.right.labeled.icon.button(href="/integrations/slack")
                | Connect with <span><i class="slack icon"></i></span>Slack
                i.right.chevron.icon
              
  script.
    Polymer({
      is: 'doorman-masthead',
      properties: {
        configured: { type: Boolean , value: false }
      },
      ready: function() {
        console.log('[MAKI:MASTHEAD]', 'ready');
      }
    });
