{
  "discord": {
    "bot_token" : "bot token"
  },
  "slack": {
    "bot_token": "bot token",
    "webhooks": {
      "channel_name": "webhook_url"
    }
  },
  "youtube_api_key": "create one here https://console.developers.google.com",
  "brewerydb_api_key": "go here and click sign up http://www.brewerydb.com/developers",
  "dictionary_api_key": "go here and sign up http://www.dictionaryapi.com/products/api-collegiate-dictionary.htm"
}
