{
  "name": "doorman",
  "debug": true,
  "trigger": "!",
  "plugins": ["debug"],
  "services": ["slack"],
  "slack": {
    "welcomeChannel": "general",
    "token": "put your token here"
  },
  "discord": {
    "token": "put discord bot token here"
  },
  "maki": {
    "masthead": "/assets/wood-panel.jpg",
    "pitch": "Hello there, friend.",
    "mission": "Doorman is a friendly bot for your community.",
    "about": "We created Doorman to help us build <a href=\"https://maki.io/people\">our community</a>.  He's done well, so we're sharing him with you.  <a href=\"/about\">Learn more &raquo;</a>",
    "copyright": "Doorman, including this site, is licensed under the MIT software license.  All other content is copyright its respective authors.",
    "services": {
      "http": {
        "port": 4444
      }
    }
  }
}
