{
	"debug": false,
	"commandPrefix": "!",
	"externalModules": ["catfact", "admin", "beer-lookup", "xkcd", "urbandictionary", "wikipedia", "cocktail-lookup", "dice", "dictionary", "misc", "translator"],
	"discord": {
		"enabled": true,
		"serverName": "insert your server name",
		"welcomeChannel": "insert channel id of channel where you want welcome to be",
		"defaultEmbedColor": 5592405,
		"pruneInterval": 10,
		"pruneMax": 100
	},
	"slack": {
		"enabled": true,
		"teamName": "friendly team name",
		"welcomeChannel": "general"
	}
}
