[
    {
        "command": "donate",
        "description": "DONATE ALL THE MONIES",
        "response": "You can donate here: <https://www.paypal.me/nebula>\nOR\nsend bitcoin to: `1PxwKxJiDdhpX14YKjGfwsPUberN8aK5Ka`"
    },
    {
        "command": "source",
        "description": "Link to my source code!",
        "response": "https://github.com/FabricLabs/doorman"
    }
]